# Rails runtime
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Active Storage
/storage/*
!/storage/.keep

# DB (keep schema.rb only)
db/*.sqlite3
db/*.sqlite3-*
db/*.sqlite3-journal

# Compiled assets
/public/assets
/public/packs

# Bundler / Node / coverage
/vendor/bundle
/.bundle
/node_modules
/coverage
.byebug_history

# Credentials and env
/config/master.key
.env
.env.*

# Editors/OS
.DS_Store
Thumbs.db
.idea
.vscode

# Misc tools
/gpt-pilot