
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: my_diary_production
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: peter284
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  web:
    build: .
    depends_on:
      db:
        condition: service_healthy
    environment:
      RAILS_ENV: production
      DATABASE_URL: postgresql://postgres:peter284@db:5432/my_diary_production
      RAILS_MASTER_KEY: ${RAILS_MASTER_KEY}
    ports:
      - "3000:80"
    volumes:
      - storage_data:/rails/storage
    command: ["./bin/rails", "server", "-b", "0.0.0.0", "-p", "80"]

volumes:
  postgres_data:
  storage_data:
