<div id="<%= dom_id diary_entry %>" class="card mb-4">
  <div class="card-content">
    <div class="content">
      <p>
        <strong>Title:</strong> <%= diary_entry.title %>
      </p>
      <p>
        <strong>Entry date:</strong> <%= diary_entry.entry_date %>
      </p>
      <p>
        <strong>Status:</strong> <%= diary_entry.status %>
      </p>
    </div>
  </div>
</div>
