<% content_for :title, "Editing diary entry" %>

<div class="container">
  <h1 class="title is-3">Editing diary entry</h1>

  <%= render 'form', diary_entry: @diary_entry %>

  <div class="mt-4">
    <%= link_to 'Show', @diary_entry, class: "button is-info" %> |
    <%= link_to 'Back', diary_entries_path, class: "button is-light" %>
  </div>
</div>