    <div class="container">
        <footer class="footer has-background-light mt-1">
      <div class="content has-text-centered">
            <p><strong>Digital Diary</strong><br><span class="is-size-4 has-text-grey">Created By EasyABC-International &copy; 2025</span></p>
            <p class="mt-1">Made with Ruby on Rails & Bulma.</p>
           
            <a href="<%= terms_path %>" class="button is-small is-light mx-1">Terms of Service</a>
            <a href="<%= privacy_path %>" class="button is-small is-light mx-1">Privacy Policy</a>
          
      </div>
    </footer>
    </div>